<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="E:/valeo prepration/iti studying/testing/automation/GET task/GET/GET_task">
        <classes>

            <class name="registerTest.badScenariosRegister">
            <methods>
                <include name="verifyFirstNameAndLastNameAreNotEqualsTest"/>
                <include name="invalidPhoneNumberTest"/>
                <include name="verifyFirstNameAndLastNameCapitalLetterTest"/>
            </methods>
            </class>

            <class name="registerTest.registerTest">
                <methods>
                    <include name="successfulSignUPTest"/>
                </methods>
            </class>


        </classes>
    </test>
</suite>